@import "tailwindcss";

@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "DM Sans Variable", "DM Sans", system-ui, sans-serif;
    --font-mono: "DM Mono Variable", "DM Mono", ui-monospace, SFMono-Regular, monospace;

    --spacing: 0.0625rem;

    --text-display: 3.5rem;
    --text-large-title: 2.188rem;
    --text-title-1: 1.438rem;
    --text-title-2: 1.188rem;
    --text-title-3: 1rem;
    --text-body: 0.813rem;
    --text-caption: 0.75rem;
    --text-sub: 0.65rem;

    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625rem;
    --radius-12: 0.75rem;
    --radius-14: 0.875rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-28: 1.75rem;
    --radius-30: 1.875rem;
    --radius-32: 2rem;
    --radius-full: calc(infinity * 1px);

    --blur-floating: 64px;

    /* Text */
    --color-text: rgba(0, 0, 0, 0.9);
    --color-text-2: rgba(0, 0, 0, 0.55);
    --color-text-3: rgba(0, 0, 0, 0.33);
    --color-text-disabled: rgba(0, 0, 0, 0.3);
    --color-text-solid: var(--color-black);
    --color-text-invert: rgba(255, 255, 255, 0.9);
    --color-text-solid-invert: var(--color-white);

    /* Colors */
    --color-red: rgba(212, 0, 64, 1);
    --color-orange: rgba(184, 77, 0, 1);
    --color-yellow: rgba(148, 105, 3, 1);
    --color-green: rgba(0, 139, 12, 1);
    --color-blue: rgba(0, 124, 171, 1);
    --color-purple: rgba(148, 1, 252, 1);

    --color-red-invert: rgba(255, 108, 123, 1);
    --color-orange-invert: rgba(241, 128, 69, 1);
    --color-yellow-invert: rgba(241, 174, 0, 1);
    --color-green-invert: rgba(0, 198, 22, 1);
    --color-blue-invert: rgba(0, 177, 242, 1);
    --color-purple-invert: rgba(184, 135, 255, 1);

    /* Materials */
    --color-bg: rgba(241, 241, 241, 1);
    --background-image-bg-window: linear-gradient(
        rgba(237, 237, 237, 0.7),
        rgba(250, 254, 255, 0.6)
    );

    --color-stroke: rgba(0, 0, 0, 0.12);
    --color-stroke-s: rgba(0, 0, 0, 0.1);
    --color-stroke-p: rgba(0, 0, 0, 0.33);

    --background-image-fg-base: linear-gradient(
        rgba(255, 255, 255, 0.24),
        rgba(255, 255, 255, 0.29)
    );
    --background-image-fg-base-p: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.58)
    );
    --background-image-fg-base-s: linear-gradient(
        rgba(255, 255, 255, 0.17),
        rgba(255, 255, 255, 0.21)
    );

    --background-image-fg-inset: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.035));
    --background-image-fg-inset-p: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.035));
    --background-image-fg-inset-s: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.03));

    --background-image-fg-red: linear-gradient(rgba(255, 108, 123, 0.3), rgba(255, 108, 123, 0.58));
    --background-image-fg-red-p: linear-gradient(
        rgba(255, 108, 123, 0.12),
        rgba(255, 108, 123, 0.18)
    );
    --background-image-fg-red-s: linear-gradient(
        rgba(255, 108, 123, 0.12),
        rgba(255, 108, 123, 0.18)
    );

    --background-image-fg-orange: linear-gradient(
        rgba(241, 128, 69, 0.3),
        rgba(241, 128, 69, 0.58)
    );
    --background-image-fg-orange-p: linear-gradient(
        rgba(241, 128, 69, 0.12),
        rgba(241, 128, 69, 0.18)
    );
    --background-image-fg-orange-s: linear-gradient(
        rgba(241, 128, 69, 0.12),
        rgba(241, 128, 69, 0.18)
    );

    --background-image-fg-yellow: linear-gradient(rgba(241, 174, 0, 0.3), rgba(241, 174, 0, 0.58));
    --background-image-fg-yellow-p: linear-gradient(
        rgba(241, 174, 0, 0.12),
        rgba(241, 174, 0, 0.18)
    );
    --background-image-fg-yellow-s: linear-gradient(
        rgba(241, 174, 0, 0.12),
        rgba(241, 174, 0, 0.18)
    );

    --background-image-fg-green: linear-gradient(rgba(1, 198, 22, 0.3), rgba(1, 198, 22, 0.58));
    --background-image-fg-green-p: linear-gradient(rgba(1, 198, 22, 0.12), rgba(1, 198, 22, 0.18));
    --background-image-fg-green-s: linear-gradient(rgba(1, 198, 22, 0.12), rgba(1, 198, 22, 0.18));

    --background-image-fg-blue: linear-gradient(rgba(0, 177, 242, 0.3), rgba(0, 177, 242, 0.58));
    --background-image-fg-blue-p: linear-gradient(rgba(0, 177, 242, 0.12), rgba(0, 177, 242, 0.18));
    --background-image-fg-blue-s: linear-gradient(rgba(0, 177, 242, 0.12), rgba(0, 177, 242, 0.18));

    --background-image-fg-purple: linear-gradient(
        rgba(184, 135, 255, 0.3),
        rgba(184, 135, 255, 0.58)
    );
    --background-image-fg-purple-p: linear-gradient(
        rgba(184, 135, 255, 0.12),
        rgba(184, 135, 255, 0.18)
    );
    --background-image-fg-purple-s: linear-gradient(
        rgba(184, 135, 255, 0.12),
        rgba(184, 135, 255, 0.18)
    );
}

@variant dark {
    /* Mapped materials DARK MODE */

    /* Text */
    --color-text: rgba(255, 255, 255, 0.9);
    --color-text-2: rgba(255, 255, 255, 0.45);
    --color-text-3: rgba(255, 255, 255, 0.25);
    --color-text-disabled: rgba(255, 255, 255, 0.22);
    --color-text-solid: var(--color-white);
    --color-text-invert: rgba(0, 0, 0, 0.9);
    --color-text-solid-invert: var(--color-black);

    /* Colors */

    --color-red: rgba(255, 108, 123, 1);
    --color-orange: rgba(241, 128, 69, 1);
    --color-yellow: rgba(241, 174, 0, 1);
    --color-green: rgba(0, 198, 22, 1);
    --color-blue: rgba(0, 177, 242, 1);
    --color-purple: rgba(184, 135, 255, 1);

    --color-red-invert: rgba(212, 0, 64, 1);
    --color-orange-invert: rgba(184, 77, 0, 1);
    --color-yellow-invert: rgba(148, 105, 3, 1);
    --color-green-invert: rgba(0, 139, 12, 1);
    --color-blue-invert: rgba(0, 124, 171, 1);
    --color-purple-invert: rgba(148, 1, 252, 1);

    /* Materials */
    --color-bg: rgba(23, 23, 23, 1);
    --background-image-bg-window: linear-gradient(rgba(20, 20, 20, 0.72), rgba(18, 18, 18, 0.89));

    --color-stroke: rgba(255, 255, 255, 0.06);
    --color-stroke-s: rgba(255, 255, 255, 0.04);
    --color-stroke-p: rgba(255, 255, 255, 0.16);

    --background-image-fg-base: linear-gradient(
        rgba(255, 255, 255, 0.015),
        rgba(255, 255, 255, 0.03)
    );
    --background-image-fg-base-p: linear-gradient(
        rgba(255, 255, 255, 0.03),
        rgba(255, 255, 255, 0.06)
    );
    --background-image-fg-base-s: linear-gradient(
        rgba(255, 255, 255, 0.01),
        rgba(255, 255, 255, 0.02)
    );

    --background-image-fg-inset: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2));
    --background-image-fg-inset-p: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2));
    --background-image-fg-inset-s: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.2));

    --background-image-fg-red: linear-gradient(rgba(212, 0, 64, 0.22), rgba(212, 0, 64, 0.32));
    --background-image-fg-red-p: linear-gradient(rgba(212, 0, 64, 0.1), rgba(212, 0, 64, 0.13));
    --background-image-fg-red-s: linear-gradient(rgba(212, 0, 64, 0.1), rgba(212, 0, 64, 0.13));

    --background-image-fg-orange: linear-gradient(rgba(184, 77, 0, 0.22), rgba(184, 77, 0, 0.32));
    --background-image-fg-orange-p: linear-gradient(rgba(184, 77, 0, 0.1), rgba(184, 77, 0, 0.13));
    --background-image-fg-orange-s: linear-gradient(rgba(184, 77, 0, 0.1), rgba(184, 77, 0, 0.13));

    --background-image-fg-yellow: linear-gradient(rgba(148, 105, 4, 0.22), rgba(148, 105, 4, 0.32));
    --background-image-fg-yellow-p: linear-gradient(
        rgba(148, 105, 4, 0.1),
        rgba(148, 105, 4, 0.13)
    );
    --background-image-fg-yellow-s: linear-gradient(
        rgba(148, 105, 4, 0.1),
        rgba(148, 105, 4, 0.13)
    );

    --background-image-fg-green: linear-gradient(rgba(0, 139, 12, 0.22), rgba(0, 139, 12, 0.32));
    --background-image-fg-green-p: linear-gradient(rgba(0, 139, 12, 0.1), rgba(0, 139, 12, 0.13));
    --background-image-fg-green-s: linear-gradient(rgba(0, 139, 12, 0.1), rgba(0, 139, 12, 0.13));

    --background-image-fg-blue: linear-gradient(rgba(0, 124, 171, 0.22), rgba(0, 124, 171, 0.33));
    --background-image-fg-blue-p: linear-gradient(rgba(0, 124, 171, 0.1), rgba(0, 124, 171, 0.13));
    --background-image-fg-blue-s: linear-gradient(rgba(0, 124, 171, 0.1), rgba(0, 124, 171, 0.13));

    --background-image-fg-purple: linear-gradient(rgba(148, 2, 252, 0.22), rgba(148, 2, 252, 0.22));
    --background-image-fg-purple-p: linear-gradient(
        rgba(148, 2, 252, 0.1),
        rgba(148, 2, 252, 0.13)
    );
    --background-image-fg-purple-s: linear-gradient(
        rgba(148, 2, 252, 0.1),
        rgba(148, 2, 252, 0.13)
    );
}

.display {
    @apply text-display font-medium leading-none tracking-tight;
}
.large-title {
    @apply text-large-title font-medium leading-none tracking-tight;
}
.title-1 {
    @apply text-title-1 font-medium leading-none tracking-tight;
}
.title-2 {
    @apply text-title-2 font-medium leading-none tracking-tight;
}
.title-3 {
    @apply text-title-3 font-medium leading-none tracking-normal;
}
.body {
    @apply text-body mb-1 font-normal;
}
.caption {
    @apply text-caption mb-1 font-normal;
}
.subtext {
    @apply text-sub mb-1 font-normal;
}

code {
    @apply text-body font-mono;
}

button,
a {
    cursor: pointer;
}

button:disabled,
a:disabled {
    cursor: not-allowed;
}
